
// ABOUT

.card-about{
    display: flex;
    justify-content: center;
    margin: 15px;
    padding-top: 30px;
    img{
    display: flex;
    }
    h2 p{
    padding: 10px; 
    font-family: 'Roboto',sans-serif;
    text-align: center;
    }
}
